.green {
  background-color: #c4ebe7;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.red {
  background-color: #fd6e6e;
  height: 100vh;
}

#home {
  width: 100vw;
  height: 45vh;
  padding: 30px;
}

.second-row {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 100px;
  background-color: white;
  margin: 30px;
}

.search-input {
  margin: auto;
  width: 50%;
}

button {
  margin-top: 50px;
  padding: 20px 30px;
  background-color: #c4ebe7;
  color: white;
}

.home-buttons {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}
